.DS_Store
.vscode
/node_modules/
package-lock.json

/.cache
/build
/build_*
/builds/*
builds/*
/public/build
/public/build_*
.env
/tmpBuild
BUILD.tar.gz
tmpBuild.tar.gz
.builder.json
project.json
basePath.json
cert.crt
cert.key
ca.crt
.hydra
basePath
project
client
client.json
multiBuild
vite.config.mjs.*
debugging
error.log
types/NextTranslationKeys.ts
types/icons.d.ts
.react-router/
