@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    color-scheme: dark;
  }
}

.MuiAppBar-positionFixed fieldset {
  border: none;
}

.appbar-toolbar div[data-cy='language-selector'] svg {
  color: #fff;
}
